#formularz {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: #eee;
}

input {
    margin: 15px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}

p:first-child {
    margin-top: 20px;
}

input[type=text] {
    padding: 10px;
    width: 400px;
    height: 35px;
    border: 2px solid #EBB37E;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    outline: none;
    font-size: 18px;

    transition: 0.25s background-color ease-in-out, 0.25s box-shadow ease-in-out;
}

input[type=text]:focus {
    background-color: #FCC48F;
    -webkit-box-shadow: 0px 0px 10px 0px #FCC48F;
    -moz-box-shadow: 0px 0px 10px 0px #FCC48F;
    box-shadow: 0px 0px 10px 0px #FCC48F;
}

input[type=radio] {
    transform: scale(2);
    margin: 15px;
    outline: none;
    border: none;
    accent-color: #EBB37E;
}

input[type=submit] {
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.4);
    border: 2px solid #DAA26D;
    border-radius: 5px;
    width: 400px;
    height: 60px;
    padding: 10px;
    outline: none;
    color: #DAA26D;
    transition: 0.25s background-color ease-out, 0.25s color ease-out;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #FCC48F;
    color: #222;
}

input[type=reset] {
    font-size: 25px;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0.4);
    border: 2px solid #DAA26D;
    border-radius: 5px;
    width: 400px;
    height: 60px;
    padding: 10px;
    outline: none;
    color: #DAA26D;
    transition: 0.25s background-color ease-out, 0.25s color ease-out;
}

input[type=reset]:hover {
    cursor: pointer;
    background-color: #FCC48F;
    color: #222;
}

input::placeholder {
    font-size: 18px;
    color: #FCC48F;
    letter-spacing: 2px;
}