@keyframes vertical-stretch {
    from {
        height: 0px;
    }
    to {
        height: 80px;
    }
}

@keyframes vertical-back-stretch {
    from {
        height: 80px;
    }
    to {
        height: 0px;
    }
}

@keyframes horizontal-stretch {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes button-appear {
    from {
        margin-right: -200px;
    }
    to {
        margin-right: 100px;
    }
}

@keyframes button-disappear {
    from {
        margin-right: 100px;
    }
    to {
        margin-right: -200px;
    }
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/dark_wood.png");
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

#nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-nav {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 100px;
    margin-top: -15px;
}

.logo-nav-text {
    position: fixed;
    font-size: 35px;
    margin-top: 5px;
    color: #eee;
    margin-left: 200px;
}

.cursive {
    font-family: 'Caveat', cursive;
}

#nav-background {
    z-index: 900;
    position: fixed;
    background-image: url('../images/wood_1.png');
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    transition: 0.25s background-color ease-out;
}


.nav-item-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.nav-item {
    position: relative;
    width: 175px;
    height: 42px;
    padding-top: 18px;
    font-size: 18px;
    text-align: center;
    color: #eee;
    transition: 0.25s color ease-out, 0.1s font-size ease-out;
}

.nav-item-border {
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #EBB37E;
    height: 5px;
}

.nav-item:hover > .nav-item-border {
    animation-name: horizontal-stretch;
    animation-fill-mode:forwards;
    animation-duration: 0.4s;
}

.nav-item:hover {
    cursor: pointer;
    color: #EBB37E;
}

.stretch-class-animation {
    animation-name: vertical-stretch;
    animation-fill-mode: forwards;
    animation-duration: 0.25s;
}

.back-stretch-class-animation {
    animation-name: vertical-back-stretch;
    animation-fill-mode: forwards;
    animation-duration: 0.25s;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);;
}

.welcome {
    font-size: 25px;
    text-align: center;
    color: #eee;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

#panel-nav {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

.panel-nav-option {
    opacity: 0.7;
    font-size: 50px;
    color: #eee;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: 80px;
    transition: 0.25s opacity ease-out;
}

.panel-nav-option:hover {
    opacity: 1;
    cursor: pointer;
}

#go-back-button {
    position: fixed;
    margin-right: 100px;
    margin-bottom: 50px;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 100px;
    border-radius: 20px;
    border: 0;
    font-size: 30px;
    font-weight: 700;
    color: #222;
    background-color: #EBB37E;
    transition: 0.25s background-color ease-out;
}

#go-back-button:hover {
    background-color: #DAA26D;
    cursor: pointer;
}

.appear-button-animation {
    animation-name: button-appear;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.disappear-button-animation {
    animation-name: button-disappear;
    animation-fill-mode: forwards;
    animation-duration:0.5s;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px;
    color: #eee;
}